$fondo-defecto:#ffff;
$texto-defecto:yellow;
$bordes-defecto: 2px solid #cccc;
$fuente-tamaño-defecto: 14px;
$margen:10px 0;
//Funciones
@mixin text-box($fondo:$fondo-defecto,$texto-color:$texto-defecto,
$borde:$bordes-defecto, $fuente-tam:$fuente-tamaño-defecto)
{
    background-color: $fondo;
    color: $texto-color;
    border: $borde;
    font-size: $fuente-tamaño-defecto;
    padding: 10px;
    margin: $margen;
    border-radius: 4px;
}
.text-box-primera{
    @include text-box($fondo:#3456,$texto-color:#ffbf,$borde:1px solid #2933,
    $fuente-tam:16px);
}
.text-box-primera{
    @include text-box($fondo:rgba(248, 237, 40, 0.4),$texto-color:rgb(187, 214, 255),$borde:1px solid rgba(207, 22, 44, 0.2),
    $fuente-tam:16px);
}